# Everything ignored by default - files must be explicitly NOT ignored
*

!.github/
!.github/workflows/
!.github/workflows/ci.yml
!.github/workflows/publish.yml
!.gitignore
!.gitattributes
!LICENSE
!README.md
!mkdocs.yml
!docs/
!docs/index.md
!docs/stylesheets/
!docs/stylesheets/extra.css
!pyproject.toml
!rdchiral/
!rdchiral/__init__.py
!rdchiral/bonds.py
!rdchiral/chiral.py
!rdchiral/clean.py
!rdchiral/initialization.py
!rdchiral/logging_config.py
!rdchiral/main.py
!rdchiral/template_extractor.py
!rdchiral/test/__init__.py
!rdchiral/test/test_smiles_from_50k_uspto.txt
!rdchiral/utils.py
!setup.py
!templates/
!templates/Examine templates.ipynb
!templates/README.md
!templates/clean_and_extract_uspto.py
!templates/example_template_extractions_bad.json
!templates/example_template_extractions_good.json
!tests/
!tests/Test rdchiral notebook.ipynb  
!tests/test_atom_mapping.py
!tests/test_atom_mapping_cases.json
!tests/test_rdchiral.py
!tests/test_rdchiral_cases.json